body {
    background-color: rgb(232, 245, 244);
}
header{
    font-family: Arial, Helvetica, sans-serif;
    color:darkslategray
    }
header nav{
    color:darkslateblue
}

main{
    color: rgb(19, 140, 134);
    font-family: Arial, Helvetica, sans-serif;
}
#family{
    font-size: larger;
    font-weight: 600;
}
.navy{
    color:rgb(23, 23, 104);
    font-weight: 500;
}
.green{
    color: rgb(102, 160, 102);
    font-size:small
}
footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(19, 75, 112);
}