body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: cadetblue;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "lside main rside"
        "footer1 footer2 footer3"
}

.item {
    background-color: lightcyan;
    border: thin solid black;
}

.itemA{
    grid-area: lside;
}

.itemB{
    grid-area: rside;
}

.itemC{
    grid-area: header;
}

.itemD{
    grid-area: main;
}

.itemE{
    grid-area: footer1;
}

.itemF{
    grid-area: footer2;
}