body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a1b5a9;
    margin: 10px;
}

header {
    background-color: whitesmoke;
    border: 10px solid #6e7160;
    color: #34332e;
    font-family: fantasy;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    display: block;
    background-color: #cfe1b9;
    color: black;
    padding: 10px 20px;
    border: solid thin black;
    width: 16.6%;
    text-align: center;
    font-size: small;
}

nav a:hover {
    background-color: #87986a;
    color: white;
}

main {
    background-color: white;
    padding: 20px;
}

footer {
    background-color: #6e7160;
    padding: 10px;
}

.hdr {
    text-align: center;
    color: #573d7f;
}

.activity {
    border: solid thin black;
}

.activity thead td{
    font-weight: bold;
    background-color: rgb(187, 202, 162);
    text-align: center;
}

.activity tbody td{
    border: thin solid black;
}
.b {
    background-color:#cce3de;
}
.current {
    background-color: rgb(129, 141, 113);
}

.form-row {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.form-row label {
    width: 250px;
    font-size: 11.5pt;
    text-align: right;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-row input:not([type="submit"]) {
    width: 500px;
    padding: 7px 5px;
}

.formBody {
    background-color: rgb(223, 231, 212)
}

form legend {
    font-family: fantasy;
    color:rgb(118, 50, 118);
}
.sub {
    width: 250px;  
}

#button {
    width: 150px;
    padding: 10px;
    background-color: rgb(125, 136, 125);
    color: black;
    font-weight: bold;
    font-size: 12pt;
    border-radius: 25px;
    border: 0;
}

#button:hover {
    background-color: #573d7f;
    color: whitesmoke;
}

.imageCard {
    width: 300px;
    border: thin solid black;
    padding: 5px;
    font-size: 10pt;
}

.imageCard img {
    width: 300px;
}

@media screen and (max-width:700px) {
    nav a{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    nav {
        flex-direction: column;
    }
    main {
        padding: 3px;
    }
}